body
  font-family: 'Julius Sans One', sans-serif
  line-height: 1.6
  padding: 0
  margin: 0
  background-color: #2C343C

div
  width: 100%
  text-align: center
  box-sizing: border-box
  background-color: #57565C
  color: #fff
  &.question
    font-size: 44px
    padding: 30px 10px 0
    background-color: #2C343C
  &.address
    padding: 10px 10px
    font-size: 18px
  &.answer
    padding: 30px 10px
    font-size: 60px
    color: #000
    &.no
      background-color: #C7463D
    &.yes
      background-color: #75B536
